<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-image: url('assets/stormdj-bg.jpg');
    background-repeat: no-repeat;
    background-position: top;
    margin-left: 200 pixels ;
}
</style>
</head>

<body>
<p>DJ </p>
<%= person = Swapi.get_person 1%>
<%= link_to "home", root_url %>
</body>
</html>

<!-- <a href="http://randomword.setgetgo.com/get.php">http://randomword.setgetgo.com/get.php</a>
 -->

<!-- response = JSON.parse people
response["results"][0]["name"] -->